body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("sun-pattern.png");
    background-blend-mode: multiply;
    background-color: #f1f1f1;
    height: 500px;
    background-position: topleft;
    background-repeat: repeat;

}

.main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* LOG */
.log {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0px;
    left: 0px;
    width: auto;
    min-height: 500px;
    height: auto;
    padding-right: 4%;
    margin: 30%;
    margin-top: 280px;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
}
  
.log #user, body .log #pass {
    height: 50px;
    border: none;
    border-radius: 2px;
    color: #000000;
    font-size: 17px;
    display: block;
    width: 100%;
    background-color: #fff;
    padding-left: 10px;
}

.logDiv > input {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.logDiv > .submit {
    width: 45%;
}

.logDiv > .button {
    width: 54%;
    margin-right: 1%;
    background-color: rgb(121, 119, 119)
}

.button:hover {
    opacity: 0.7;
}

.signupDiv > input {
    width: 45%;
    margin-right: 3%;
}

.products {
    background-color: #f2f2f2;
    width: 50%;
    text-align: center;
}

#cardRow {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    height: 820px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    width: 25%;
    margin: 1%
}

.price {
    color: grey;
    font-size: 22px;
}

.card:hover {
    opacity: 0.7;
}

.formBox {
    border-radius: 5px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 4%;
    margin: 1%;
    height: 380px;
}

.side {
    border-radius: 5px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 4%;
    margin: 1%;
    height: 820px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.submit:hover {
    opacity: 0.7;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}


.chatBox {
    border-radius: 5px;
    background-color: rgb(41, 41, 41);
    height: 370px;
    margin: 1%;
    padding: 0.5%;
    overflow: hidden;
    text-align: left;
}

#chat-messages {
    height: 200px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    list-style-type: none;
    padding: 0% 5%;
}

#chat > hr {
    border: 0.5px dashed rgba(189, 184, 184, 0.596);
}

#chat > div {
    display: flex;
    justify-content: space-between;
}

#chat > input {
    width: 80%;
    margin: 8px 10%;
}

.chatDiv > input {
    width: 80%;
    margin: 8px 1% 8px 5%;
}

.chatDiv > .submit {
    width: 20%;
    margin: 8px 5% 8px 1%;
}
  


@media screen and (max-width: 600px) {
    body {
        display: block;
    }

    .main, .products{
        padding: 0px;
        width: 100%;
        background-color: white
    }

    .logDiv > .submit {
        width: 100%;
    }
    
    .logDiv > .button {
        width: 100%;
    }

    #cardRow {
        margin: 15px;
        display: block;
    }

    .card {
        width: 90%;
    }
    
}