doctype html
html 
    head
        title="eCommerce"
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css")
        link(rel="stylesheet", href="/styles.css")
        script(src="/socket.io/socket.io.js")
        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js")    

    body 
        case user

            when undefined
                div(class='log')
                    form(method="POST" action="/api/login")
                        input(type="text" name="username" placeholder="Usuario" required)
                        input(type="password" name="password" placeholder="Contraseña" required)
                        div(class="logDiv")
                            input(type="button" class="button" onclick="location.href='/api/signup';" value="No tengo usuario")
                            input(type="submit" class="submit" value="Entrar")
            
            when 'wip'
                div(class='log')
                    form(method="POST" action="/api/signup")
                        div(class="signupDiv")
                            input(type="email" name="username" placeholder="Correo electrónico" required)
                            input(type="text" name="name" placeholder="Nombre completo" required)
                            input(type="password" name="password" placeholder="Nueva contraseña" required)
                            input(type="text" name="address" placeholder="Dirección" required)
                            input(type="text" name="pfp" placeholder="URL de avatar")
                            input(type="number" name="age" placeholder="Edad" required)
                            input(type="tel" name="phone" id="phone" required)

                        div(class="logDiv")
                            input(type="button" class="button" onclick="location.href='/api/login';" value="Tengo un usuario")
                            input(type="submit" class="submit" value="Registrarse")

            default
                div(class="main")
                    if form
                        div(style="width:50%")
                            if user['admin']
                                div(class="formBox")
                                    h3="Registrar nuevo producto"

                                    form(id="productForm" method="POST" action="/api/productos")
                                        input(type="text" name="title" placeholder="Título" id="title" required)
                                        input(type="text" name="thumbnail" placeholder="Foto (url)" id="thumbnail")
                                        input(type="text" name="detail" placeholder="Details" id="detail")
                                        input(type="number" name="price" placeholder="Precio" id="price" required)
                                        input(type="number" name="stock" placeholder="Stock" id="stock" required)
                                        button(type="submit" class="submit")="Registrar"
                            else
                                include ../views/chatbox.pug
    
                    include ../views/products.pug

        script
            include ../../public/script.js